form {
  display: flex;
  flex-direction: column;
}

textarea {
  border: none;
  outline: none;
  border-bottom: 5px solid;
  margin: 0.6em 0em;
  background: transparent;
  border-color: #657786;
  color: #545149;
}

form > div {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
}

form > div button {
  background-color: #4056A1;
  color: #fff;
  border: none;
  border-radius: 0.1em;
}